.midtrans-admin-section .heading {background: url(midtrans-logo.svg) no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.midtrans-admin-section .button-container {float: right;}
.midtrans-admin-section .config-alt { height: 26px; margin: 0.5rem 0 0; width: 230px;}
